<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lazebird.rabbit.rabbit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <lazebird.rabbit.rabbit.Properties.Settings>
            <setting name="ping_addr" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_timeout" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_times" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_logfile" serializeAs="String">
                <value />
            </setting>
            <setting name="http_port" serializeAs="String">
                <value />
            </setting>
            <setting name="http_dirs" serializeAs="String">
                <value />
            </setting>
            <setting name="tabs" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="httpd_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="mime" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpd_timeout" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpd_retry" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpd_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="scan_ipstart" serializeAs="String">
                <value />
            </setting>
            <setting name="scan_ipend" serializeAs="String">
                <value />
            </setting>
            <setting name="lang" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpc_timeout" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpc_retry" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpc_blksize" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpc_addr" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpd_dir_index" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpd_dirs" serializeAs="String">
                <value />
            </setting>
            <setting name="http_auto_index" serializeAs="String">
                <value />
            </setting>
        </lazebird.rabbit.rabbit.Properties.Settings>
    </userSettings>
</configuration>