<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lazebird.rabbit.rabbit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="rabbit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <lazebird.rabbit.rabbit.Properties.Settings>
            <setting name="ping_addr" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_timeout" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_times" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_logfile" serializeAs="String">
                <value />
            </setting>
            <setting name="http_port" serializeAs="String">
                <value />
            </setting>
            <setting name="http_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="tabs" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="httpd_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="mime" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir1" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir2" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir3" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir4" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir5" serializeAs="String">
                <value />
            </setting>
            <setting name="tftpd_btn" serializeAs="String">
                <value />
            </setting>
        </lazebird.rabbit.rabbit.Properties.Settings>
        <rabbit.Properties.Settings>
            <setting name="ping_addr" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_timeout" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_times" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_logfile" serializeAs="String">
                <value />
            </setting>
            <setting name="http_port" serializeAs="String">
                <value />
            </setting>
            <setting name="http_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="tabs" serializeAs="String">
                <value />
            </setting>
            <setting name="ping_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="httpd_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="mime" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir1" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir2" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir3" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir4" serializeAs="String">
                <value />
            </setting>
            <setting name="tftp_dir5" serializeAs="String">
                <value />
            </setting>
        </rabbit.Properties.Settings>
    </userSettings>
</configuration>